@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    max-width: 980px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    text-align: center;
}

h2 {
    color:  #033076;
    text-align: center;
}
header .logo-title {
    text-align: center;
}

.logo-subtitle {
    margin: 2px;
}

.logo-subtitle p {
    color:  #033076;
}
header .menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header .menu li {
    display: inline;
}

header .menu li a {
    text-decoration: none;
    color: #033076;
    padding: 10px;
    border-radius: 4px; 
}

header .menu li a:hover {
    background-color: #033076;
    color: #ffffff;
    transition: 0.4s;
}

@media (min-width: 500px) {
    .logo-subtitle {
        margin: 1px;
    }
    header nav {
        display: flex;
    }
    header .menu {
        flex: 1;
        align-items: center;
        justify-content: right;
    }
    
    header .menu li {
        margin: 0 2%;
    }
}

header .slider {
    min-height: 500px;
    background-image: url(../img/main-banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header .slider {
    color: white;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: red; 
    color: white; 
    border: 2px solid white;
}

main .logo-aboutus {
  text-align: center;
}

@media (min-width: 500px) {
    main .logo-aboutus {
        display: flex;
        float: left;
        text-align: center;
    }
    main .about-us-wrapper {
        min-height: 240px;
    }
}


main .web-development {
    background-image: url(../img/web-development.png);
    text-align: center;
    color: white;
    padding: 30px;
}
main .web-design {
    background-image: url(../img/web-design.jpg);
    text-align: center;
    color: white;
    padding: 30px;
}

main .seo {
    background-image: url(../img/seo.jpg);
    text-align: center;
    color: white;
    padding: 30px;
}

@media (min-width: 500px) {

    main .portfolio-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .design-seo-wrapper {
        display: grid;
     
        grid-template-columns: 1fr 1fr;
    }
    .clients-wrapper {
        display: inline;
    }
}

.form-wrapper {
    padding-bottom: 20px;
}

 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

input[type=button] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}


input[type=submit]:hover {
    background-color: #B22222;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h3 {
    text-align: center;
}

footer {
    width: 100%;
    background-color: #222;
    padding: 20px 0px;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

@media (min-width: 500px) {
    footer .footer-wrapper div {
    display: inline-block;
    }
}

main .form-ajax-wrapper {
    padding-bottom: 20px;
}